* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

ul {
    margin: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #f9f9f9;
}

li {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

li span {
    background-color: lightgreen;
    margin-left: 5px;
}

.search-bar {
    width: 100%;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container-movies {
    width: 50%;
}

.container-series {
    width: 50%;
}

img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-left: 5px;
}

.disactive {
    color: #000;

}

.active{
    color: orange;

}
