* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.search-bar {
    width: 100%;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    margin: 20px;
}

li span {
    background-color: lightgreen;
}

.active{
    background-color: yellow;
}
